/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2018, 9:03:52 AM
    Author     : alex
*/

/* El cabezal de la pagina siempre esta fijo, para poder poner algo encima de esa
propiedad es que declaramos este CSS*/
#message {
     position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.imagenAnterior {
      background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),  url(../img/logogde.jpg);
     background-position:center;
     background-repeat:repeat;
     background-size: contain;
}