/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2018, 9:03:52 AM
    Author     : alex
*/

/* El cabezal de la pagina siempre esta fijo, para poder poner algo encima de esa
propiedad es que declaramos este CSS*/
#message {
     position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.imagenAnterior {
      background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),  url(../img/logogde.jpg);
     background-position:center;
     background-repeat:repeat;
     background-size: contain;
}

/*Vamos a manejar aqui el estilo de la forma de representar la cantidad de vida*/
.numeroVidas{
    margin: 0px;
    font-size: 50px;
}

/* Fuentes personalizadas */

/* La fuente llamada Saga es la que se usa en las cartas sagas*/
@font-face {
    font-family: 'Sagas'; /*a name to be used later*/
    src: url('../fuentes/Sagas/DasRoySmallCaps.ttf') format('truetype'); /*URL to font*/
}

.FuenteSagas {
    font-family: 'Sagas';
    font-size: 25px;
}


@font-face {
    font-family: 'Listados'; /*a name to be used later*/
    src: url('../fuentes/M15/belerensmallcaps-bold.ttf') format('truetype'); /*URL to font*/
}

/* Como estamos usando JQueryMobolie y Bootstrap tenemos que fijar a fuego las fuentes
personalizadas o las sobreescribe*/
.FuenteListados {
    font-family: 'Listados';
    
}

@font-face {
    font-family: 'Noticias'; /*a name to be used later*/
    src: url('../fuentes/M15/beleren-bold_P1.01.ttf') format('truetype'); /*URL to font*/
}

/* Como estamos usando JQueryMobolie y Bootstrap tenemos que fijar a fuego las fuentes
personalizadas o las sobreescribe*/
.FuenteNoticias {
    font-family: 'Noticias';
    
}



