
.contador{
    background-color: red;
    max-width: 100%;
    height: 250px;
    position: relative;
}

.izquierda {
    background-color: #bbb;
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 8vw;
}

.mainVidas {
    background-color: whitesmoke;
    width: 80%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 8vw;
  
}



.derecha {
    background-color: #bbb;
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 8vw;
}

#Veneno1{
   
  position: absolute;
  
   
}

.imgVeneno{
    width: 10%;
    height: 20%;
}