.controlIzq {
    width: 10%;
    height: 100px;
    float: left;
    text-align: center;
    display: inline-block;
}
        
.controlDer {
    width: 10%;
    height: 100px;
    float: right;
    text-align: center;
    display: inline-block;
}

.contador{
    float: none;
    position: relative;
    display: inline-block;
}
/*
.izquierda {
    background-color: #bbb;
    width: 100%;
    height: 10%;
    float: left;
    text-align: center;
   
}

.mainVidas {
    background-color: whitesmoke;
    width: 100%;
    height: 80%;
    float: left;
    text-align: center;
    font-size: 8vw;

}


.derecha {
    background-color: #bbb;
    width: 100%;
    height: 10%;
    float: left;
    text-align: center;
  
}

#Veneno1{

    position: absolute;
    text-align: center;
    font-size: 2vw;
    margin-left: 55%;
    margin-top: -6%;
    color: red;

}


.imgVeneno{
    width: 10%;
    height: 30%;
}
*/